.white-text-with-blue-shadow {
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font: 1.5em Georgia, serif;
    margin-top: 10px;
    margin-right: 10px;
  }
  .nav-item a {
    text-decoration: none;
    transition: 0.5s;


  }
  .nav-item a :hover {
    color:darkgoldenrod ;

  }
  .social-media i:hover {
    color: rgb(112, 67, 190);
    transition: 0.3s;

  }