@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');

span {
    color: darkgoldenrod;
}
p {
    font-size: 25px;
    font-weight: bolder;
}
h3 {
    font-family: 'Akronim', cursive;
    text-align: center;
    font-size: 40px;
    color: rgb(212, 209, 169);
}