<div class="container">
    <div class="row py-5">
        <div class="row py-5">


            <div class="col-md-4 d-flex align-items-center">
                <div>
                    <div class="brdr w-25 mb-4"></div>
                <h2>Trending People to Watch<br/> Right Now</h2>
                <p style="color: #949cb0;" class=" my-2">most watched People by days</p>
                <div class="brdr w-75 mb-4"></div>
    
                </div>
    
            </div>
            <div *ngFor='let person of trendingPersons'  class="col-md-2" >
               <div class="movie my-2 position-relative">
                <img class="w-100" [src]="imgPrefix+person.profile_path" [alt]="person.name">
                <h3 class="my-2 h6">{{person.name}}</h3>
             
               </div>
            </div>
        </div>
    
    
    
    
</div>
